[user]
	email = mythrndr@gmail.com
	name = Jeff Thompson
[ghq]
	root = /Users/jwthomp/repos
[diff]
	tool = difft
[difftool "difft"]
	cmd = "/opt/homebrew/bin/difft $LOCAL $REMOTE"
	trustExitCode = true
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
